---
layout: default
title: Writing
---

<main>
    <section>
        <h2 class="section-header">Writing</h2>
        <ul class="blog-list">
            {% for post in site.posts %}
            <li class="blog-item">
                <div class="blog-meta">{{ post.date | date: "%b %Y" }}</div>
                <div class="blog-main">
                    <a href="{{ post.url | relative_url }}" class="blog-title">{{ post.title }}</a>
                    {% if post.excerpt %}
                    <p class="blog-excerpt">{{ post.excerpt | strip_html | truncate: 150 }}</p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
